<!DOCTYPE html>
<html>

<body>
    <div>

    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" ><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" ><br><br>
        <input type="submit" value="Submit">
    </form>
    <div>

    {% for r in regs %}
        {% if logs.username==r.username and logs.password==r.password %}
            <h1>WELCOME</h1>
        {% endif %}
        
    {% endfor %}
        
    </div>
    </div>
</body>
</html>
